/* NEWS */
#news {
    display: flex; /*flex*/
   
    justify-content:space-between;
   
    max-width: 100%;
    height: 168px;
    background-color: #c4c4c4;

    padding: 10px;

}

#news > h1{
    color: black;
}

#news > h1, #news > p {
    margin: 0;
    display: flex;
    align-items: center;
}

#news > p {
    padding:10px;
    text-align:justify ;
    width: 200px;
}